altgraph==0.17.5
ctk-colorpicker-plus==0.1.1
customtkinter==5.2.2
darkdetect==0.8.0
numpy==2.4.2
opencv-python==4.13.0.92
packaging==26.0
pefile==2024.8.26
pillow==12.1.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pywin32-ctypes==0.2.3
setuptools==80.10.2
